<nav class="navbar navbar-expand-lg bg-light" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <h1>A Mile In Her Mind</h1>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="dropdown">
        <ul class="nav navbar-nav">
          <li> <a  href="/entry/show">Entries </a> </li>
          <li> <a href="/entry/new">Create a Post </a> </li>
          <li> <a href="/users/profile">Profile </a> </li>
          <li> <a href="/user/logout">Logout </a> </li>
          <!-- <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/logout">Logout</a></li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>