<nav class="navbar navbar-expand-lg bg-light" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1>A Mile In Her Mind</h1>
      </div>
  
      <!-- Collection of nav links for toggling -->
      
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/entries/new">Create an entry </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/logout">Logout</a>
    </li>
  </ul>
