<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Mile In Her Mind</title>
</head>
<body>
    <nav>
        <ul>
            <% if (user) { %>
                <li>
                    <a href="/user/profile">Profile</a>
                </li>
                <li>
                    <a href="/views/home.ejs">Home</a>
                </li>
                <li>
                    <a href="/user/logout">Logout</a>
                </li>
             <% } else { %>
            
                <li>
                     <a href="/users/new">Sign Up</a>
                </li>
                <li>
                    <a href="/users/login">Login</a>
                </li>

                <li>
                    <a href="/users/logout">Logout</a>
                </li>
            <% } %> 
        </ul>
    </nav>

    <h1>Hello <%= user.email %>, Welcome to A Mile In Her Mind</h1>

    <%- body %>
</body>
</html>