<h1>Create a new entry</h1>
<h3>Your word prompt is: <%= %></h3>
<h4>I encourage you to find the definition of any words you're not familiar with. It will help further the meaning of the word for you and hopefully increase it's value in your entry</h4>

<form action="/entries" method="POST"> 
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" required>
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea type="text" class="form-control" id="content" name="content" required></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
</form>
