<p><%= entry.content %></p>


<%if(entry.comments && entry.comments.length) { %>
  <% entry.comments.forEach(comment => { %>
    <p><%=comment.content%></p>
    <p><%=comment.user%></p>
    <% })%>
<% } %>

<form method="POST" action="/articles/<%= article.id %>/comments">
  <label for="name">Your Name:</label>
<input type="text" name="name">
<label for="content">Write your comment here:</label>
<input type="text" name="content">
<input type="submit">
</form>

<a href="/">&larr; Back Home</a>
